edge-tts
SpeechRecognition
pyaudio
pyttsx3
deep-translator
pandas
numpy
openpyxl
xlsxwriter
pymupdf
pypdf
pdf2docx
docx2pdf
tkinterdnd2
python-docx
docx2txt
pdfplumber
PyPDF2
pyperclip
pillow
qrcode
matplotlib
yt-dlp
moviepy
opencv-python
openai-whisper
pywin32
pywin32
pyinstaller
pydub
docxtpl
beautifulsoup4
google-genai
anthropic
groq
requests
python-pptx
pikepdf
browser_cookie3
cloudscraper
selenium
webdriver-manager
notebooklm-py
pygame
