Pillow
PyPDF2
beautifulsoup4
dateutil
deep_translator
docx2txt
edge_tts
hashlib
matplotlib
numpy
openpyxl
pandas
pathlib
pdf2docx
pdfplumber
platform
pygame
pymupdf
pypdf
pyperclip
python-docx
pythoncom
pyttsx3
qrcode
random
requests
shutil
speech_recognition
tkinterdnd2
urllib
webbrowser
win32com
yt_dlp